doctype html
html(lang="en")
	head
		title Bubble
		link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
		link(rel='stylesheet', href='http://cmap.github.io/barista/barista.main.min.css')
		link(rel='stylesheet', href='/css/main.css')
		script(src='http://localhost:35729/livereload.js')
	body
		p.control-container.text-center.col-xs-12 <span class=" control">Sort By: </span><span id="feat_toggle" class="control toggle selected">Feat of Strength   </span><span id="player_toggle" class="control toggle">Player</span>
		#bubble_target
		script(src='/bower_components/barista/barista.main.min.js')
		script(src='/js/main.js')
